body {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}
.main {
  width: 100%;
  height: auto;
  background: #fff;
  box-sizing: border-box;
}
.topBox {
  width: 100%;
  box-sizing: border-box;
}
.userBox {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 1.5rem 0 0.5rem;
}
.userBox .userImg {
  width: 7.6rem;
  height: 7.6rem;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.userBox .userName {
  font-size: 1.4rem;
  line-height: 1.8;
  padding: 0.5rem 3rem 0;
  color: #2e2e2e;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.userBox .userID {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #999;
}
.barBox {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.5rem 1.5rem;
  font-size: 1.2rem;
  color: #999;
  line-height: 1;
  text-align: center;
  zoom: 1;
}
.barBox:after {
  content: ' ';
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
.barBox p {
  width: 49.99%;
}
.barBox p span {
  font-size: 1.6rem;
  color: #2e2e2e;
}
.barBox .balance {
  float: left;
}
.barBox .cardStock {
  float: right;
}
.barBox .cardStock span {
  padding-right: 2rem;
  box-sizing: border-box;
  background: url("http://media.youshu.cc/readwith/media/picture/59affb9eef9fd.png") right center no-repeat;
  background-size: auto 70%;
}
.belowBox {
  border-top: 0.5rem solid #f7f7f7;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 1.4rem 0;
}
.moneyBox {
  width: 100%;
  box-sizing: border-box;
  zoom: 1;
  padding: 0 0.75rem;
}
.moneyBox:after {
  content: ' ';
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
.moneyBox .money {
  width: 50%;
  box-sizing: border-box;
  border: 0.75rem solid transparent;
  float: left;
  text-align: center;
}
.moneyBox .money p {
  width: 100%;
  height: 9.5rem;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  line-height: 9.5rem;
  color: #989898;
  background: #fff;
  font-size: 2.7rem;
}
.moneyBox .money.active p {
  color: #fff;
  background: #fdb346;
  border-color: #fdb346;
}
.btnBox {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 0;
  text-align: center;
  font-size: 1.6rem;
}
.btnBox .payBtn {
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  display: block;
  box-sizing: border-box;
  background: #fdb346;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 3rem;
  margin-bottom: 1rem;
}
.btnBox .payBtn:focus {
  outline: none;
}
.btnBox .payBtn:active {
  background: #fda92d;
}
.btnBox .activeBtn {
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  display: block;
  box-sizing: border-box;
  color: #fdb346;
  border: 1px solid #fdb346;
  border-radius: 3rem;
  background: #fff;
}
.btnBox .activeBtn:active {
  background: #f2f2f2;
}
.footer {
  background: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  padding: 3rem 0 1rem;
  text-align: center;
  font-size: 1.1rem;
  color: #999999;
  line-height: 1;
}
.footer small {
  padding: 0 0.5rem;
  display: inline;
}
.footer small a {
  color: #00bf5f;
}
