body {
  width: 100%;
  height: 100%;
  background: #fff;
}
.succ {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-top: 18%;
  box-sizing: border-box;
  text-align: center;
}
.succ .tips {
  font-size: 1.6rem;
  color: #787878;
  line-height: 3;
}
.voucherBox {
  width: 100%;
  padding: 0.5rem 1.5rem 2rem;
  box-sizing: border-box;
}
.voucherBox .voucher {
  width: 100%;
  background-image: url("http://media.youshu.cc/readwith/media/picture/59afc62cebd8a.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.voucherBox .voucher:after {
  content: '';
  padding-top: 39.13%;
  display: block;
}
.voucherBox .voucher .type {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("http://media.youshu.cc/readwith/media/picture/59afcca99f27e.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-y: 0;
  text-indent: -9999px;
  color: #fff;
}
.voucherBox .voucher .type.type1 {
  background-position-x: 0%;
}
.voucherBox .voucher .type.type2 {
  background-position-x: 33.33%;
}
.voucherBox .voucher .type.type3 {
  background-position-x: 66.66%;
}
.voucherBox .voucher .type.type4 {
  background-position-x: 100%;
}
.voucherBox .voucher .content {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 20%;
  top: 0;
}
.voucherBox .voucher .cont {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.voucherBox .voucher .cont .left {
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  box-sizing: border-box;
  width: auto;
  height: auto;
  font-size: 1.1rem;
  line-height: 1;
  padding: 0.2rem 0.3rem;
  border: 1px dashed #fff;
  color: #fff;
  display: block;
  border-radius: 0.2rem;
}
.voucherBox .voucher .cont .right {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.1rem;
  line-height: 1;
  color: #fff;
}
.voucherBox .voucher .cont .intro {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.voucherBox .voucher .cont .money {
  font-size: 2rem;
  line-height: 1;
  color: #fff;
}
.voucherBox .voucher .cont .money .price {
  font-family: Impact,fantasy,Helvetica;
  font-size: 5.5rem;
  font-weight: bold;
}
.voucherBox .voucher .cont .moneyOff {
  font-size: 2.1rem;
  color: #fff;
  line-height: 1.6;
  font-weight: bold;
}
.voucherBox .voucher .cont .course {
  font-size: 2.1rem;
  color: #fff;
  line-height: 2.5rem;
  max-height: 5rem;
  padding: 0 4.2rem;
  margin-top: 0.5rem;
  overflow: hidden;
}
.voucherBox .voucher .cont .expiryDate {
  font-size: 1.1rem;
  color: #fff;
  line-height: 1.8;
}
.checkBox {
  width: 100%;
  box-sizing: border-box;
  padding: 6rem 0 2rem;
}
.checkBox .checkBtn {
  width: 72%;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  display: block;
  font-size: 1.6rem;
  color: #16a15e;
  background: #fff;
  border: 1px solid #16a15e;
  margin: 0 auto;
  border-radius: 5px;
}
